<h1>{{ inventory_hostname }} </h1>

It is a {{ ansible_distribution }} machine, version {{ ansible_distribution_version }}, codename {{ ansible_distribution_release }}, with a {{ ansible_architecture }} architecture.

<p>
Its IPs are:
    <ol>
    {% for item in ansible_all_ipv4_addresses %}
    <li>{{ item }}</li>
    {% endfor %}
</ol>
</p>

{% if extra_text is defined %}
{{ extra_text }}
{% endif %}